<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Data</title>
    <script src="../model.js"></script>
    <script src="../data.js"></script>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <div v-for="msg in msgs">{{msg}}</div>
    <div @click="showSnapshots = !showSnapshots">
        <span v-if="showSnapshots">+</span><span v-if="!showSnapshots">-</span>
        <strong>{{snaps.length}} snapshots</strong>
    </div>
    <div v-if="showSnapshots">
        <div v-for="s in snaps">{{s.year}}-{{s.month}}-{{s.day}} {{s.hour}}:{{s.minute}}</div>
    </div>
    <div v-if="timeline">
        <div><strong>timeline ({{timeline.snapshotCount}} snaps in {{timeline.id}} {{timeline.getTypeLabel()}}, max {{getGrandchildTypeText(timeline)}}: {{timeline.maxGrandchildSnapshotCount}})</strong></div>
        <div v-for="p in timeline.children"><strong>{{p.id}}</strong> ({{p.snapshotCount}} in {{p.getTypeLabel()}}, max {{getGrandchildTypeText(p)}}: {{p.maxGrandchildSnapshotCount}}))
            <div v-for="p1 in p.children">&nbsp;&nbsp;
                <strong>{{monthLabels[p1.id]}}</strong> ({{p1.snapshotCount}} in {{p1.getTypeLabel()}}, max {{getGrandchildTypeText(p1)}}: {{p1.maxGrandchildSnapshotCount}})))
                <div v-for="p2 in p1.children">&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>{{p2.id}}th</strong> ({{p2.snapshotCount}} in {{p2.getTypeLabel()}}, max {{getGrandchildTypeText(p2)}})
                    <div v-for="p3 in p2.children">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong>{{p3.id}}:00</strong> ({{p3.snapshotCount}} in {{p3.getTypeLabel()}})
                        <div v-for="s in p3.snapshots">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            - {{s.id}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    function init(data_) {
        new Vue({
            el: '#app',
            data: {
                msgs: [],
                snaps: [],
                showSnapshots: false,
                timeline: null,
                monthLabels: {1:'Jan', 2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'}
            },
            mounted() {
                try {
                    const data = new PywbData(data_);
                    this.snaps = data.snapshots;
                    this.timeline = data.timeline;
                } catch(e) {
                    this.msgs.push(e.message);
                }
            },
            methods: {
                getGrandchildTypeText(period) {
                    return PywbPeriod.GetTypeLabel(period.type+2);
                }
            }
        });
    }
    fetch('/sample-data/bbc-com.json').then(r => r.json()).then(data => init(data));
</script>
</body>
</html>