<script type="text/x-template" id="timeline-summary">
    <div class="summary">
        <template v-if="parents">
            <span v-for="parent in parents" :key="parent.id" class="item">
                <a class="goto" @click="changePeriod(parent)">{{parent.getReadableId(true)}}</a>
                <span class="count">{{parent.snapshotCount}}</span> &gt;
            </span>
        </template>
        <span class="item">{{period.getReadableId(true)}} <span class="count">{{period.snapshotCount}}</span> <span v-if="currentSnapshot">&gt;</span></span>
        <span class="item" v-if="currentSnapshot">{{currentSnapshot.getTimeFormatted()}}</span>
    </div>
</script>

<script type="text/javascript">
    Pywb.vue.components['timeline-summary'] = {
        props: {
            period: {
                required: true
            },
            currentSnapshot: {
                required: false
            }
        },
        template: '#timeline-summary',
        computed: {
            parents: function() {
                return this.period.getParents();
            }
        },
        methods: {
            changePeriod(period) {
                if (period.snapshotCount) {
                    if (period.snapshot) {
                        this.$emit('goto-snapshot', period.snapshot);
                    } else {
                        this.$emit('goto-period', period);
                    }
                }
            },
        }
    };
</script>

<style>
    .summary {
        font-size: 18px;
    }
    .summary .count {
        display: inline;
        width: auto;
        background-color: rgb(200,200,200);
        padding: 1px;
        border-radius: 5px;
    }
    .summary .goto {
         margin-right: 5px;
         text-decoration: underline;
         cursor: pointer;
     }

    .summary .item {
        margin: 0 5px;
    }
</style>