<script type="text/x-template" id="timeline-summary">
    <div class="summary">
        <template v-if="parents">
            <span v-for="parent in parents" :key="parent.id" class="item">
                <span class="goto" @click="changePeriod(parent)">{{parent.getReadableId(true)}}</span>
                <span class="count">{{parent.snapshotCount}}</span>
            </span>
        </template>
        <span class="item">
            <span class="current">{{period.getReadableId(true)}}</span>
            <span class="count">{{period.snapshotCount}}</span>
        </span>
        <span class="item" v-if="currentSnapshot">{{currentSnapshot.getTimeFormatted()}}</span>
    </div>
</script>

<script type="text/javascript">
    Pywb.vue.components['timeline-summary'] = {
        props: {
            period: {
                required: true
            },
            currentSnapshot: {
                required: false
            }
        },
        template: '#timeline-summary',
        computed: {
            parents: function() {
                return this.period.getParents();
            }
        },
        methods: {
            changePeriod(period) {
                if (period.snapshotCount) {
                    if (period.snapshot) {
                        this.$emit('goto-snapshot', period.snapshot);
                    } else {
                        this.$emit('goto-period', period);
                    }
                }
            },
        }
    };
</script>

<style>
    .summary .count {
        position: relative;
        display: inline-block;
        width: auto;
        top: -5px;
        padding: 1px;
        border-radius: 5px;
        background-color: rgb(200,200,200);
        font-size: 14px;
    }

    .summary .item {
        font-size: 20px;
        display: block;
        margin: 0 2px 0 0;
    }
    .summary .item .goto {
        margin: 1px;
        cursor: pointer;
        background-color: #a6cdf5;
        border-radius: 5px;
     }
    .summary .item .goto:before {
        content: "\2196";
    }
    .summary .item .goto:hover {
        background-color: #a6cdf5;
    }
    .summary .item .current {
        font-size: 24px;
    }
    .summary .item .current:before {
        content: "\21A0";
    }

</style>